<li class="todo">
  <%= check_box_tag :complete %>
  <%=h todo.title %>
  <%= link_to 'Delete', todo, :class => "delete", :"data-confirm-message" => "Are you sure you want to delete #{todo.title}?" %>
</li>
